@import 'base';
@import 'colors';
@import 'mixins';

$header-height: 40px;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#root, .app {
  height: 100%;
}

.app {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  background-color: #000;
  display: flex;
  flex-basis: $header-height;
}

.logo {
  color: #fff;
  cursor: pointer;
  font-size: 2em;
  line-height: $header-height;
  padding: 0 10px;
}

.recipe-list {
  flex: 1;
  list-style: none;
  padding: 0;  
}

.recipe-card {
  cursor: pointer;
  
  &:hover {
    background-color: #eee;
  }
}

.add-recipe-card {
  cursor: pointer;
  
  &:hover {
    background-color: #bff0b8;
  }
  
  &:active {
    background-color: #9ff098;
  }
}

.add-recipe-icon {
  display: flex;
  font-size: 2em;
  justify-content: center;
}

.add-ingredient-icon {
  cursor: pointer;
  font-size: 2em;
  height: 34px;
  line-height: 34px;
  padding: 0 10px;
  
  &.fa-plus-circle {
    color: #3c763d;
  }
  
  &.fa-minus-circle {
    color: #d9534f;
  }
  
  &.disabled {
    color: #555;
    cursor: not-allowed;
  }
}
